<a href="https://colab.research.google.com/github/amancode999/python-basics/blob/main/mini_projects/student_score_analysis/Student_score_analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/Untitled spreadsheet - Sheet1.csv")

In [ ]:
df.head()

   id         name  roll_no  subject  marks grade  class
0   1   Aman Singh      101  English     93     A     11
1   2  Priya Mehra      102  Science     76     B     10
2   3   Ravi Kumar      103  English     92     A     10
3   4    Sneha Roy      104     Math     65     C     10
4   5   Karan Shah      105  Science     80     B     10

In [ ]:
df.tail()

   id          name  roll_no  subject  marks grade  class
5   6    Neha Verma      106  English     55     D     10
6   7   Arjun Yadav      107     Math     99    A+     10
7   8   Simran Kaur      108  Science     43     E     10
8   9  Manav Thakur      109  English     71     B     10
9  10     Isha Nair      110     Math     88     A     10

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       10 non-null     int64
 1   name     10 non-null     object
 2   roll_no  10 non-null     int64
 3   subject  10 non-null     object
 4   marks    10 non-null     int64
 5   grade    10 non-null     object
 6   class    10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes

In [ ]:
df.describe()

             id    roll_no      marks      class
count  10.00000   10.00000  10.000000  10.000000
mean    5.50000  105.50000  76.200000  10.100000
std     3.02765    3.02765  17.980236   0.316228
min     1.00000  101.00000  43.000000  10.000000
25%     3.25000  103.25000  66.500000  10.000000
50%     5.50000  105.50000  78.000000  10.000000
75%     7.75000  107.75000  91.000000  10.000000
max    10.00000  110.00000  99.000000  11.000000

In [ ]:
print(df.columns)

Index(['id', 'name', 'roll_no', 'subject', 'marks', 'grade', 'class'], dtype='object')

In [ ]:
print(df.isnull().sum())

id         0
name       0
roll_no    0
subject    0
marks      0
grade      0
class      0
dtype: int64

Q1: Show all student names with their marks

In [ ]:
print(df[['name','marks']])

           name  marks
0    Aman Singh     93
1   Priya Mehra     76
2    Ravi Kumar     92
3     Sneha Roy     65
4    Karan Shah     80
5    Neha Verma     55
6   Arjun Yadav     99
7   Simran Kaur     43
8  Manav Thakur     71
9     Isha Nair     88

Q2: Show students who scored more than 80 marks

In [ ]:
print(df[df['marks']>80])

   id         name  roll_no  subject  marks grade  class
0   1   Aman Singh      101  English     93     A     11
2   3   Ravi Kumar      103  English     92     A     10
6   7  Arjun Yadav      107     Math     99    A+     10
9  10    Isha Nair      110     Math     88     A     10

Q3: Show only names of students who scored more than 80 marks

In [ ]:
print(df[df['marks']>80][['name','marks']])

          name  marks
0   Aman Singh     93
2   Ravi Kumar     92
6  Arjun Yadav     99
9    Isha Nair     88

Q4: Show all students with subject = English

In [ ]:
print(df[df['subject']=='English'][['name','subject']])

           name  subject
0    Aman Singh  English
2    Ravi Kumar  English
5    Neha Verma  English
8  Manav Thakur  English

Q5: Show students with grades greater than A

In [ ]:
print(df[df['grade']>'A'][['name','grade']])

           name grade
1   Priya Mehra     B
3     Sneha Roy     C
4    Karan Shah     B
5    Neha Verma     D
6   Arjun Yadav    A+
7   Simran Kaur     E
8  Manav Thakur     B

Q6: Show names and marks of students who got less than 60 marks

In [ ]:
print(df[df['marks']<60][['name','marks']])

          name  marks
5   Neha Verma     55
7  Simran Kaur     43

Q7: Show average marks scored in each subject

In [ ]:
print(df.groupby('subject')['marks'].mean())

subject
English    77.750000
Math       84.000000
Science    66.333333
Name: marks, dtype: float64

Q8: Show student(s) who scored the highest marks

In [ ]:
print(df[df['marks'] == df['marks'].max()][['name', 'marks']])

          name  marks
6  Arjun Yadav     99

Q9: Count how many students got each grade

In [ ]:
print(df['grade'].value_counts())

grade
A     3
B     3
C     1
D     1
A+    1
E     1
Name: count, dtype: int64

Q10: Show the number of students in each class

In [ ]:
print(df['class'].value_counts())

class
10    9
11    1
Name: count, dtype: int64